<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div>Velog</div>
    <div th:if="${session.user == null}">
        <a th:href="@{/api/loginform}">로그인</a>
    </div>
    <div th:if="${session.user != null}">
        <a th:href="@{'/api/' + ${session.user.username} + '/userinfo'}" th:text="${session.user.username}">유저</a>님</span>
        <a th:href="@{/api/logout}">로그아웃</a>
    </div>
</header>

<div class="container">
<!--게시글-->
</div>
</body>
</html>