<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="bg-light p-3">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>Velog</div>
            <div>
                <a th:if="${authUser == null}" th:href="@{/loginform}" class="btn btn-primary">로그인</a>
                <div th:if="${authUser != null}">
                    <a th:href="@{'/' + ${authUser.name} + '/userinfo'}" sec:authentication="name" class="btn btn-outline-secondary">유저</a>님
                    <a th:href="@{/logout}" class="btn btn-danger">로그아웃</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container mt-4">
    <!--게시글-->
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
