<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5" data-post-id="[[${post.id}]]">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title" th:text="${post.title}">Post Title</h1>
        </div>
        <div class="card-body">
            <p class="card-text" th:text="${post.content}">Post Content</p>
            <div class="meta-info">
                <br><br><br>
                <p>Views: <span th:text="${post.views}">0</span></p>
                <a th:href="'/posts/' + ${post.id} + '/like'" class="btn btn-primary">
                    Like : <span th:text="${post.likes}">0</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
