    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>User Info</title>
    </head>
    <body>
    <div>
        <h2>내 블로그</h2>
        <ul>
            <li th:each="velog : ${velogs}">
                <a th:href="@{'/api/' + ${username} + '/velog/' + ${velog.name}}" th:text="${velog.name}"></a>
            </li>
        </ul>
        <a th:href="@{'/api/' + ${username} + '/createvelog'}">블로그 생성</a>
    </div>
    <div>
        <h2>좋아요 목록</h2>
    </div>
    </body>
    </html>